#containerDati{
  margin-top: 30px;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#containerChartLine,
#containerChartPie{
  padding: 20px;
  border-radius: var(--radius-10);
}
#containerChartLine{
  height: 350px; 
  width: 1000px;
  background-color: var(--bg-base1);
  position: relative;
}
#containerChartPie{ 
  background-color: var(--bg-base1);
}
#chartLine{
  height: 100%;
  width: 100%;
}
#menuChart{
  position: absolute;
  background-color: var(--bg-base1);
  color: var(--text-base1);
  border-radius: var(--radius-10);
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 4px 5px #000;
  overflow: hidden;
  font-size: .8rem;
}
#btnMenuChart{
  color: var(--text-base1)
}
.btnChart{
  padding: 15px;
  transition: 200ms;
}
.btnChart:hover{
  background-color: var(--sidebar-hover);
}

