#cardsReport{
  height: 8%;
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin: 20px 60px;
}
.cardReport{
  flex: 1;
  border-radius: var(--radius-20);
  padding: 20px;
  background-color: var(--bg-cardReport);
  color: var(--text-base1);
  display: flex
}
.cardReport.error{
  border-left: 10px solid #ff000d; 
}
.cardReport.success{
  border-left: 10px solid #3cff00;  
}
.cardReport.normal{
  border-left: 10px solid grey; 
}
.cardReportDetail{
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 70px;
}
.cardReportDetail h1{
  font-size: 1.7rem;
  font-style: italic;
}
.cardReportDetail p{
  font-size: 1.5rem;
}

.imgCardReport{
  position: absolute;
  font-size: 2rem;
  right: 10px;
}
